services:
  worker:
    build: .
    volumes:
      - ../backend/tmp:/tmp
      - ../backend/output:/output
    command: npm run dev
    develop:
      watch:
        - action: rebuild
          path: .
